:root {
  --text-main: #212121;
  --text-secondary: #757575;
  --accent: #2196f3;

  --white: #ffffff;
  --black: #000000;

  --light-bg: #f5f4fa;
  --dark-bg: #2f303a;

  --border-light: #eeeeee;
  --border: #ececec;
}
*{
  box-sizing: border-box;
}
body {
  color: var(--text-main);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0, 15px;
  
}

header {
  background-color: var(--white);
  color: var(--text-main);
  border-bottom: 1px solid var(--border-light);
  padding: 20px 0;
  line-height: 1;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--text-main);
  text-decoration: none;
  line-height: 1.2;
}

header p {
  color: var(--text-secondary);
  line-height: 1.2;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1;
}

.logo span {
  color: var(--accent);
  line-height: 1;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 344px;
}

.navigation ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  padding: 0;
  line-height: 1;
}

.navigation a {
  font-weight: bold;
  line-height: 1.2;
}

.navigation :hover {
  color: var(--accent);
}

h3 {
  color: var(--text-main);
  line-height: 1.2;
}

.hero {
  background-color: var(--dark-bg);
  color: var(--white);
  line-height: 1.3;
  padding: 200px 0;  
}

.hero h2{
  display: block;
  width: 696px;
  height: 120px;
  font-size:44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hero button {
  display: inline-block;
  border-radius: 5px;
  height: 50px;
  background-color: var(--accent);
  color: var(--white);
}
.text {
  display:flex;
  justify-content: center;
}

.text ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  line-height: 1.3;
  margin-top: 94px;
  margin-bottom: 94px;
}

.work{
  text-align: center;
}

.work ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  line-height: 1.3;
  margin-bottom: 94px;
}


.workers ul {
  list-style-type: none;
  line-height: 1.3;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.workers{
  padding-top: 94px;
  padding-bottom: 94px;
    background-color: var(--light-bg);
    line-height: 1.4;
    text-align: center;
}

.workers p{
    color: var(--text-secondary);
    line-height: 1.3;
}
.workers h2{
  
  margin-bottom: 50px;
}

.text p{
    color: var(--text-secondary);
    line-height: 1.3;
}

.filters .container{
   display: flex;
   justify-content: center;
   margin-bottom: 34px;
  margin-top: 94px; 
}

.filters ul {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
  
}

.filters a {
  display: inline-block;
  padding: 8px 25px;
  background-color: var(--light-bg);
  color: var(--text-main);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.filters a:hover {
  background-color: var(--accent);
  color: var(--white);
}



.portfolio-foto-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-foto-ul-item {
  width: calc((100% - 60px) / 3);
  width: 370px;
  background: var(--white);
  border: 1px solid var(--border-light);
  
}

.portfolio-foto-ul-item h3{
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 6%;
  margin-bottom: 4px;
  margin-left: 24px;
}

.portfolio-foto-ul-item p{
  display: block;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  color: var(--text-secondary);
  margin-left: 24px;
}

 


footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 20px;
  line-height: 1.4;
  margin-top: 94px;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

